body {
background:#f5f6fa;
}

.custom-navbar {
background:#370c0c;
}

.hero-section {
background:url('../img/fundo.jpg') center/cover no-repeat;
min-height:90vh;
}

.overlay {
background:rgba(0,0,0,0.6);
padding:50px;
}

.btn-primary {
background:#370c0c;
border:none;
}