/* NAVBAR */
.custom-navbar {
  background: linear-gradient(90deg, #370c0c, #5a0f0f);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

/* HERO */
.hero-section {
  background-image: url('fundo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.overlay {
  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(55,12,12,0.7)
  );
  height: 100%;
  display: flex;
  align-items: center;
}

/* CARDS */
.card {
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

/* BOTÃO */
.btn-primary {
  background-color: #5a0f0f;
  border: none;
  border-radius: 8px;
  width: 100%;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #8b1a1a;
  transform: scale(1.05);
}

/* TEXTO */
h1 {
  font-weight: 700;
  letter-spacing: 1px;
}